<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
	<div class="form-group">
		<label for="inputName">Youtuber name</label>
		<input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter name" formControlName="name">
		<small id="nameHelp" class="form-text text-muted">Youtuber name</small>
	</div>

	<div class="form-group">
		<label for="inputFollower">Follower amount</label>
		<input type="string" class="form-control" id="inputFollower" aria-describedby="followerHelp" placeholder="Enter follower amount" formControlName="followers">
		<small id="followerHelp" class="form-text text-muted">Youtuber followers</small>
	</div>

	<div class="form-group" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
		<label for="inputDescription">Description</label>
		<input type="text" class="form-control" id="inputDescription" aria-describedby="descHelp" placeholder="Enter description" formControlName="description">
		<small id="descHelp" class="form-text text-muted">Description</small>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>